{% load static %}

<div class="col-lg-4 col-sm-6">
    <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg" title="Project Name">
        <img class="img-fluid" src=" {% static 'home/imagenes/despegue.jpg' %}" alt="..." />
        <div class="portfolio-box-caption">
            <div class="project-name"> Comprar pasajes </div>
        </div>
    </a>
</div>
<div class="col-lg-4 col-sm-6">
    <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg" title="Project Name">
        <img class="img-fluid" src=" {% static 'home/imagenes/despegue.jpg' %}" alt="..." />
        <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Category</div>
            <div class="project-name">Project Name</div>
        </div>
    </a>
</div>