{% extends 'home/base.html' %}

{% block contenido_agregado %}

    {% for producto in productos %}
    <p>{{ producto.producto }}-{{ producto.vendedor }}(${{producto.precio}})</p>
    <div>
        <form action="{% url 'productos:eliminar-producto' producto.id %}" method="POST">{% csrf_token %}
            <button type="submit">Eliminar</button>
         </form>
         <form action="{% url 'productos:editar' producto.id %}" method="POST">{% csrf_token %}
            <button type="submit">Editar</button>
        </form>                 
    </div>    
    {% endfor %}

{% endblock contenido_agregado %}